%section
  %h2.bottom.red Can I get support?

%section
  %img.bottom(src="#{site.base_url}/images/as7_to_eap.png" width="800")

%section
  %img.diagram(src="#{site.base_url}/images/subscriptions.png" width="800")

