---
description: "You've heard about the JBoss Way, and you like what you see. The JBoss Developer Framework provides you with the toolkit to follow the JBoss Way and build your applications quickly, productively, and easily."
---

= partial('title.html.haml', {'title'=>page.parent.title, 'subtitle'=>page.parent.subtitle, 'authors'=>page.parent.authors, 'splash'=>page.parent.splash, 'presentation_date'=>page.parent.presentation_date, 'summit_color'=>page.parent.summit_color})

%section
  %h2 Session Objective
  %blockquote
    :markdown
      By the end of this session you will understand the resources that the JBoss offers you.

      You will have seen how productive you can be with the JBoss stack.

%section
  :markdown
    ## Agenda 
    
    * What is the JBoss Way
      * Quickstarts & JBoss BOMs
      * Migration
      * Overview of TicketMonster
    * RAD - how to get started, quickly
    * Roadmap
      * What's next? 
      * How does DeltaSpike fit in?

%section
  %h2 What is the JBoss Way?
  %blockquote{:style=>"width:90%"}
    :markdown
      The JBoss Way shows you how to write applications using JBoss technologies.

      * Learn how to write an application suitable for phones & tablets 
      * Learn how to use the Java EE 6 API with JBoss EAP
      * Learn how to use JBoss Data Grid to scale your application

%section
  :markdown
    ## Highlights

    * 92 Quickstarts, focused on a single use case or API
    * Medium complexity example - TicketMonster, with Apache Cordova & JDG
    * Stacks defined for Java EE, Errai, Hibernate, Arquillian, Transactions and lots more 
    * Migration guides for Spring, Seam 2, WebLogic and Java EE 5

%section
  %h2 Quickstarts & JBoss Stacks

  %a{:href=>"http://www.jboss.org/jdf/quickstarts/get-started/", :target=>"demo"}
    %img(src="#{site.base_url}/images/quickstarts_screenshot.png" width="900")

%section
  %section
    %h2 TicketMonster
    %a{:href=>"http://ticketmonster-jdf.rhcloud.com/", :target=>"demo"}
      %img(src="#{site.base_url}/images/ticketmonster_screenshot.png" width="900")
  %section
    %h2 JBoss Way Lab on TicketMonster
    %p
      %strong
        JBoss Developer Framework:
      %stron
        Getting started with Red Hat JBoss EAP
    %p Wednesday 1:20 - 3:20 in Ballroom B

%section
  %h2 Roadmap
  .pull-left
    :markdown
      ##### Tentatively September 2013

      * Fuse (Apache Camel) 
      * Switchyard

  .pull-left{:style=>"margin-left:2em;"}
    :markdown
      ##### Tentatively December 2013

      * jbpm & Drools


%section
  %h2.bottom.red Can I get support?

%section
  %h2 Q&A
  %ul
    %li
      %a(href="http://jboss.org/developer") http://jboss.org/developer
    %li
      %a(href="http://jboss.org/jdf") http://jboss.org/jdf
    %li
      %a(href="https://twitter.com/#!/jbossdeveloper") @jbossdeveloper


