%section
  %h2 TicketMonster Architecture
  %img.diagram(src="#{site.base_url}/images/ticketmonster_architecture.png" width="800")
  

%section
  :markdown
    ## Core: Java EE 
      
    * Persistence (JPA)
    * Dependency injection (CDI)
    * Eventing
    * Transactional business components (EJB)
    * REST-ful remote access endpoints (JAX-RS)
      
%section
  :markdown
    ## End-user views 
    ### HTML5+REST
    
    * Single page application
      * No flicker
      * Mobile optimized
    * Javascript MVC via backbone.js adds structure
    * Same architecture for mobile (jQuery Mobile) and desktop

= partial 'html5_architecture.html.haml'
    
%section
  :markdown
    ## Administration views 
    ### RichFaces/JSF

    * All Java EE6 architecture
    * Rapid development through JBoss Forge
    * Richfaces adds advanced components    

%section
  :markdown
    ## Monitoring views
    ### Errai/GWT
       
    * All-around Java (backend, front-end)
    * Compiled to Javascript via GWT
    * Errai adds in-browser real-time updates via CDI eventing



