%section
  :markdown
    ## What is TicketMonster?
  
    * Online ticketing application
    * Medium complexity 
    * Demonstrates a choice of view layers
    * Uses JBoss Data Grid to scale application
  %img.floatright.bottommargin50(src="#{site.base_url}/images/ticket.jpg" height="250")

%section
  %h3 What can end-users do?
  %img.diagram(src="#{site.base_url}/images/user_use_cases.png" width="700")

%section
  :markdown
    ### End-User requirements
  
    * Smooth interaction (no flicker!)
    * Fast response
    * Mobile and tablet usage

%section 
  %h3 What can administrators do?
  %img.diagram(src="#{site.base_url}/images/admin_use_cases.png" width="700")

%section
  :markdown
    ## Administrator requirements
  
    * Easy CRUD
    * Real-time status updates
