---
authors: 
  - :name: Pete Muir
    :role: Senior Principal Software Engineer
    :company: Red Hat, Inc.
    :twitter_handle: plmuir
presentation_date: 2014-01-31
layout: reveal_presentation
title: CDI Showcase
---

= partial('cdi_showcase.html.haml', {'parent'=>page})

