---
title: Building Modern Applications the JBoss Way
author: Pete Muir, Marius Bogoevici
description: Building Modern Application the JBoss Way, using JBoss Developer Framework

layout: reveal
---

%section
  %img.splash(src="#{site.base_url}/images/summit.png")
%section
  %h2 Building Modern Applications 
  %h3 with JBoss Developer Framework
  %ul.intro
    %li Pete Muir (Principal Software Engineer, Red Hat, Inc.)
    %li Marius Bogoevici (Senior Software Engineer, Red Hat, Inc.)
    %li June 2012
%section
  %h2 Agenda 
  %ul
    %li TODO

