---
splash: 'RH_Developer_Day_Splash.png'
authors: 
  - :name: Pete Muir
    :role: Principal Software Engineer
    :company: Red Hat, Inc.
    :twitter_handle: plmuir
presentation_date: 2012-10-01
layout: reveal_presentation
title: Building Modern Applications at Red Hat Developer Day, London, 2012
---

= partial('jdf_and_rad.html.haml', {'parent'=>page})

