---
authors: 
  - :name: Pete Muir
    :role: Principal Software Engineer
    :company: Red Hat, Inc.
    :twitter_handle: plmuir
presentation_date: 2013-03-09
layout: reveal_presentation
title: Building Modern Applications using JBoss and OpenShift 
---

= partial('jboss_developer_and_rad.html.haml', {'parent'=>page})

