---
authors: 
  - :name: Pete Muir
    :role: Senior Principal Software Engineer
    :company: Red Hat, Inc.
    :twitter_handle: plmuir
presentation_date: 2014-03-26
layout: reveal_presentation
title: Building Modern Applications
subtitle: Using JBoss and OpenShift
---

= partial('jboss_way_march_2014.html.haml', {'parent'=>page})
