---
authors: 
  - :name: Pete Muir
    :role: Principal Software Engineer
    :company: Red Hat, Inc.
    :twitter_handle: plmuir
  - :name: Ray Ploski
    :role: Director, Developer Program & Strategy
    :company: Red Hat, Inc.
    :twitter_handle: rayploski
presentation_date: 2013-06-12
layout: reveal_presentation_summit
title: The JBoss Way
summit_color: orange
---

%section(data-state="orange-globe")
  

= partial('jboss_way.html.haml', {'parent'=>page})

