---
authors: 
  - :name: Pete Muir
    :role: Principal Software Engineer
    :company: Red Hat, Inc.
    :twitter_handle: plmuir
presentation_date: 2013-08-28
layout: reveal_presentation
title: The JBoss Way
---

= partial('jboss_way_august_2013.html.haml', {'parent'=>page})
