---
authors: 
  - :name: Pete Muir
    :role: Principal Software Engineer
    :company: Red Hat, Inc.
    :twitter_handle: plmuir
presentation_date: 2013-04-19
layout: reveal_presentation
title: The JBoss Way
subtitle:  JUDCon Brazil 2013
---

= partial('jboss_way.html.haml', {'parent'=>page})

