---
splash: summit.png
authors: 
  - name: Pete Muir
    role: Principal Software Engineer
    company: Red Hat, Inc.
  - name: Marius Bogoevici
    role: Principal Software Engineer
    company: Red Hat, Inc.
presentation_date: 2012-06-27
layout: reveal_presentation
---

=partial('ticketmonster.html.haml', {'parent'=>page})
