---
splash: jdflogo_frontpage.jpg
authors: 
  - :name: Pete Muir
    :role: Principal Software Engineer
    :company: Red Hat, Inc.
    :twitter_handle: plmuir
  - :name: Marius Bogoevici
    :role: Senior Software Engineer
    :company: Red Hat, Inc.
    :twitter_handle: mariusbogoevici
presentation_date: 2012-09-10
layout: reveal_presentation
---

=partial('ticketmonster.html.haml', {'parent'=>page})
