---
splash: judcon2012_boston_splash.jpg
authors: 
  - name: Pete Muir
    role: Principal Software Engineer
    company: Red Hat, Inc.
  - name: Jason Porter
    role: Senior Software Engineer
    company: Red Hat, Inc.
presentation_date: 2012-06-26
layout: reveal_presentation
---

=partial('what_is_jdf.html.haml', {'parent'=>page})
