.footer {
 background-color: #cc0000;
 width: 100%;
 clear: both;
 position: fixed;
 z-index: 30;
 height: 75px;
 left: 0;
 bottom: 0;
}

.footer .summit-logo {
 position: relative;
 z-index: 50;
 top: -75px;
 left: 35px;
 float: left;
 border: none;
 background: none;
}

.footer .redhat-logo {
 position: relative;
 float: right;
 z-index: 50;
 top: -10px;
 right: 20px;
 border: none;
 background: none;
}

.reveal {

 section {
  text-align: left;
 }

 blockquote::before {
  content: '';
 }

 blockquote::after {
  content: '';
 }

 section {
  img {
   margin-left:auto;
   margin-right:auto;
   display: block;
   border: none;
   background:none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;

  }

  .bottom {
   bottom: 0;
   position: absolute;
  }

  .red {
   color: #C00;
  }

  img.diagram {
   border: 4px solid #eee;
   background: rgba(255,255,255,0.12);
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
   -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
 }
}

ul.intro {
 margin-top: 50px;
 list-style: none;

 ul {
  list-style: none;
  li {
   font-size: .7em;
  }
 }
}

.reveal section img.splash, .reveal section .footer img {
 border: none;
 background: none;
 -webkit-box-shadow: none;
    -moz-box-shadow: none;
         box-shadow: none;

}

.reveal .images {
 width: 100%;
 padding-bottom: 50px;
 background-color: #FFFFFF;
}

.reveal .images table {
 background-color: #FFFFFF;
 width: 100%;
 margin: auto;
}

.reveal .images td {
 vertical-align: middle;
}

.reveal .images img {
 border: none;
 background: none;
 -webkit-box-shadow: none;
 -moz-box-shadow: none;
 box-shadow: none;
}

.reveal .vertical-center {
 position: absolute;
 top:25%;
}

.reveal .prettyprint {
    background-color: #ffffff;
}

.reveal .prettyprint .prettyprint {
    width: auto;
}
